/*
 * L'effroyable fossé entre paragraphes
 * Il faut respecter aussi le gras, l'italique, la largeur des paragraphes…
 */

#aToiDeJouer{
  text-align: justify;
}

#bloc_right{
  width: 40%;
  float: right;
}

#bloc_left{
  width: 40%;
  float: left;
}
