/*
 * Le pernicieux carre et le pompon rouge
 */

#section_geometrique{
}

#carre{
  width: 100px;
  height: 100px;
  background-color: black;
  position: absolute;
}

#rond{
  width:20px;
  height:20px;
  background-color:red;
  border-radius:50%;
  position: relative;
  left: 90px;
  bottom: 8px;
}
